<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="style/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Advetisement</title>
</head>
<body>
    <!-- navbar -->
    <ul class="navbar_ul">
        <li class="navbar_li"><a href="/">Home</a></li>
        {% if not token %}
        <li class="navbar_li"><a href="/login">Login</a></li>
        <li class="navbar_li"><a href="/register">Register</a></li>
        {% endif %}
        <li class="navbar_li"><a href="#about">About</a></li>
    </ul>
    <!-- end -->
    <h1>Title: {{ advertisement.title }}</h1>
    <h2>Desc: {{ advertisement.description }}</h2>
    <h3>Price: {{ advertisement.price }}</h3>
    <h4>Date: {{ advertisement.date }}</h4>
    {% if token and advertisement.active == 1 and advertisement.seller_id != user_id %}
    <form action="/{{ advertisement.id }}/buy" method="post">
        <button type="submit">Buy</button>
    </form>
    {% endif %}
    {% if advertisement.active == 0 %}
    <h5>Buyer: {{ advertisement.buyer_name_by_id(advertisement.buyer_id) }}</h5>
    {% endif %}
    <h5>Seller: {{ advertisement.seller_name_by_id(advertisement.seller_id) }}</h5>

    {% if advertisement.seller_id == user_id and advertisement.active == 1 %}
    <form action="/{{ advertisement.id }}/delete" method="post">
        <button type="submit">Delete ad</button>
    </form>
    <a href="/{{ advertisement.id }}/edit">Edit post</a><br/><br/>
    {% endif %}
    {% if advertisement.seller_id == user_id and advertisement.active == 0 %}
        <h5>Name: {{ buyer.name }}</h5>
        <h5>Address: {{ buyer.address }}</h5>
        <h5>Mobile: {{ buyer.mobile }}</h5>
    {% endif %}


</body>
</html>
