<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="style/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Profile</title>
</head>
<body>
    <!-- navbar -->
    <ul class="navbar_ul">
        <li class="navbar_li"><a href="/">Home</a></li>
        <li class="navbar_li"><a class="active" href="/profile">My profile</a></li>
        <li class="navbar_li"><a href="/new">New ad</a></li>
        <li class="navbar_li"><a href="#about">About</a></li>
        <li class="navbar_li logout"><a href="/logout">Log out</a></li>
    </ul>
    <!-- end -->
    <h1>Welcome to your profile</h1>

    {% for advertisement in advertisements %}
    <a href="/{{ advertisement.id }}">Title: {{ advertisement.title }} Seller: {{ advertisement.seller_name_by_id(advertisement.seller_id) }}</a>
    <br/>
    {% endfor %}

</body>
</html>
